# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

Makefile
config.guess
config.log
config.status
config.sub
libtool
ltmain.sh
Makefile.in
/autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/compile
/config.h.in
/configure
/configure.scan
/depcomp
/install-sh
/missing
/stamp-h1
.deps
.libs
tags

src/client/keycleantool
src/client/manipulate_ds_to_cs
src/client/tairclient
src/common/snappy/config.h
src/common/snappy/snappy-stubs-public.h
src/common/snappy/stamp-h1
src/configserver/cst_distribution_checker
src/configserver/cst_monitor
src/configserver/cst_transfer
src/configserver/migrate_emulator
src/configserver/parameter_printer
src/configserver/sif_monitor
src/configserver/stat_info_test
src/configserver/tair_cfg_svr
src/dataserver/repair_rsync
src/dataserver/tair_server
src/rpc/echo_message.pb.cc
src/rpc/echo_message.pb.h
src/rpc/server_demo
src/storage/ldb/tools/ldb_bucket_check
src/storage/ldb/tools/ldb_bucket_distribution
src/storage/ldb/tools/ldb_dump
src/storage/ldb/tools/ldb_gclog_reader
src/storage/ldb/tools/ldb_manifest_merger
src/storage/ldb/tools/ldb_manifest_rebuild
src/storage/ldb/tools/ldb_rsync
src/storage/ldb/tools/ldb_sst_check
src/storage/ldb/tools/ldb_sst_filter
src/storage/ldb/tools/ldb_sst_picker
src/storage/ldb/tools/ldb_verify
src/storage/ldb/tools/leveldbutil
src/storage/ldb/tools/statistics_verify
src/storage/ldb/tools/view_cache_stat
src/storage/mdb/lazyClearTest
src/storage/mdb/libmdb_test_c
src/storage/mdb/mdbAreaTest
src/storage/mdb/mdbSlabAndAreaTest
src/storage/mdb/mdb_reader
src/storage/mdb/mdbtest
src/tools/dump_transfer
src/tools/lens
src/tools/mtair
src/tools/parse_admin_conf

